/*Header*/
.header {
    margin-bottom:20px;
    border-bottom: 1px solid #ddd;
}
.header ul {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.header ul li {
    margin-right:10px
}
.header ul li.active {
    color: red;
}
/*Input Component*/
.input-box,
.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    flex: 1;
    margin-bottom: 10px;
}
.input-box label,
.dropdown label {
    min-width: 140px;
    text-transform: capitalize;
}
.input-box input,
.input-box textarea,
.dropdown select{
    width:250px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #777;
    margin-left:10px;
}
.input-box textarea {
    resize: vertical;
    width: 100%;
}
/*Button*/
.btn button {
    background: white;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 3px;
}
.btn button:hover {
    background-color: #fefefe;
    box-shadow:0 1px 1px #0003;
}
.btn button:active {
    background-color: #fdfdfd;
    box-shadow: 0 1px 1px #0003 inset;
}
.btn button:focus {
    outline: none;
}
/*Loading*/
.loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffe;
}
/* Dropdown */
.dropdown select:focus {
    outline: none;
}

/* Card */
.card {
    border: 1px solid #aaa;
    border-radius: 3px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.card .card-heading {
    text-align: center;
    margin: 20px 0;
}
/* Card Section */
.card-section {
    border-bottom: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.card-section:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
}
.card-section .title {
    font-weight: 600;
    min-width: 140px;
}
.card-section .value {
    font-size: 18px;
    margin-left: 10px;
}
